c/foo
cobol/foo
cpp/foo
go/foo
haskell/foo
haskell/foo.hi
haskell/foo.o
java/Foo.class
kotlin/FooKt.class
kotlin/META-INF/
ocaml/foo
ocaml/foo.cmi
ocaml/foo.cmo
rust/foo
swift/foo
fsharp/obj
fsharp/bin
csharp/bin
csharp/obj
