assembly-x86/foo
assembly-x86/foo.o
c/foo
cobol/foo
cpp/foo
csharp/bin
csharp/obj
fortran/foo
fsharp/bin
fsharp/obj
go/foo
haskell/foo
haskell/foo.hi
haskell/foo.o
java/Foo.class
kotlin/FooKt.class
kotlin/META-INF/
ocaml/foo
ocaml/foo.cmi
ocaml/foo.cmo
rust/foo
swift/foo
